@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the KFC Staff Rostering System!</h1>
    <p>This system has been designed in conjunction with Y.E.H Data Solutions Pty Ltd</a>.</p>
</div>

<div class="text-center">
    <img src="~/images/KFC_logo.png" class="img-rounded" height="300" width="300" style="display" />
    <img src="~/images/YEH_logo.png" class="img-rounded" height="300" width="300" />
</div>
